* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: #40206b !important;
}

.quem-somos {
  padding: 50px 0;
  background-color: #286e97;
  color: #fff;
}

.margin{
  margin: 50px 0;
}

.parceiros{
  background-color: aqua;
  height: auto;
  padding: 50px 0;
}